[
	{
		name: 'MetOceanView'
		dns:
			'fugro.metoceanview.com': '192.64.32.82'
			'metra.metoceanview.com': '192.64.32.82'
			'forecast.metoceanview.com': '192.64.32.82'
			'hindcast.metoceanview.com': '192.64.32.82'
			'route.metoceanview.com': '192.64.32.82'
			'climate.metoceanview.com': '192.64.32.82'
			'route.metoceanview.com': '192.64.32.82'
			'eri.metoceanview.com': '192.64.32.82'
			'metoceanview.com': '192.64.32.82'
		ping: ['192.64.32.82']
		http: [
			'http://fugro.metoceanview.com'
			'http://metra.metoceanview.com'
			'http://forecast.metoceanview.com'
			'http://hindcast.metoceanview.com'
			'http://route.metoceanview.com'
			'http://climate.metoceanview.com'
			'http://route.metoceanview.com'
			'http://eri.metoceanview.com'
			'http://metoceanview.com'
		]
	}
	{
		name: 'SwellMap, WeatherMap & SnowMap'
		dns:
			'swellmap.co.nz': '173.230.243.117'
			'www.swellmap.co.nz': '173.230.243.117'
			'weathermap.co.nz': '173.230.243.117'
			'www.weathermap.co.nz': '173.230.243.117'
		ping: ['173.230.243.117']
		http: [
			'http://swellmap.co.nz/'
			'http://www.swellmap.co.nz/'
			'http://weathermap.co.nz/'
			'http://www.weathermap.co.nz/'
			'http://snowmap.co.nz/'
			'http://www.snowmap.co.nz/'
		]
	}
	{
		name: 'MetOcean Public Website'
		dns:
			'metocean.co.nz': '173.230.243.117'
			'www.metocean.co.nz': '173.230.243.117'
		ping: ['173.230.243.117']
		http: [
			'http://metocean.co.nz/': 301
			'http://www.metocean.co.nz/'
		]
	}
	{
		name: 'MetOcean Services'
		dns:
			'gds.metoceanview.com': '68.171.216.66'
			'tiles.metoceanview.com': '68.171.216.66'
			'graphd.metoceanview.com': '68.171.216.66'
			'maps.metoceanview.com': '68.171.216.66'
			'ukcd.metoceanview.com': '192.64.32.82'
			'psfd.metoceanview.com': '192.64.32.82'
			'hcd.metoceanview.com': '192.64.32.82'
			'wx.wxtiles.com': '173.249.151.30'
			'wxtiles.com': '173.249.151.30'
		ping: [
			'68.171.216.66'
			'192.64.32.82'
			'173.249.151.30'
		]
		http: [
			'http://gds.metoceanview.com:9090/doc/index.html'
			'https://tiles.metoceanview.com/wxtiles/wxtiles.v2.min.js'
			'http://ukcd.metoceanview.com/docs'
			'http://psfd.metoceanview.com/docs'
			'https://ukcd.metoceanview.com/docs'
			'https://psfd.metoceanview.com/docs'
			'http://graphd.metoceanview.com/docs'
			'http://hcd.metoceanview.com/docs'
			'http://maps.metoceanview.com/'
		]
	}
]